@charset "utf-8";
	/*全局样式设置*/
	html,body,div,ul,li,ol,h1,h2,h3,a,img,p{
		padding: 0;
		margin: 0;
	}
	ul li,ol li{
		list-style: none;
	}
	body{
		background: lightgray;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	
	
	/**********导航栏********/
	#nav{
		height: 80px;
		width: 100%;
		border: 1px solid red;
		background: white;
		position: fixed;
		z-index: 99999;
	}
	#bar{
		width: 1100px;
		height: 80px;
		margin: 0 auto;
		position: relative;
		background: palegoldenrod;
	}
	#meau_left{
		position: absolute;
		bottom: 15px;
	}
	
	#menu_right{
		position: absolute;
		bottom: 15px;
		right: 0;
/*		border: 1px solid yellow;*/
	}
	#menu_right ul{
		float: right;
		position: relative;
		top: 5px;
	}
	#menu_right li{
		text-align: center;
		position: relative;
		margin-left:  40px;
		/*width: 60px;*/
		height: 15px;
		float: left;
		border: 1px solid red;
	}
	.sp{
		position: absolute;
		display: block;
		cursor: pointer;
	}
	#menu_right .li01::after{
		content: '';
		width: 0;
		height: 0;
		border: 12px solid transparent;
		border-top-color: #1E90FF;
		position: absolute;
		left: 50%;
		margin-left: -12px;
		top: 25px;
	}
	.black{
		/*border: 1px solid black;*/
		text-align: left;
		position: absolute;
		left: 0;
		width: 0px;
		overflow: hidden;
	}
	.blue{
		position: absolute;
		left: 0;
		background: pink;
		color: dodgerblue;
	}
	
	.cl{clear: both;}
	/**********侧边栏********/
	#side_bar{
		position: fixed;
		right: 20px;
		top: 40%;
		z-index: 99999;
	}
	#side_bar>div{
		width: 15px;
		height: 15px;
		margin: 8px 0;
		border-radius: 50%;
		background: goldenrod;
		cursor: pointer;
	}
	.list{
		background: red;
	}
	/**********内容页********/
	#content{
		width: 100%;
		height: 100%;
		position: relative;
	}
	
	#content>div{
		width: 100%;
		height: 1000px;
		overflow: hidden;
		border: 1px solid red;
	}
	/*第一页*/
	#D_1{
		background: url(img/bg1.jpg) no-repeat;

	}
   /*第一页的中间内容*/
	#D_1_box{
		width: 100%;
		height: 520px;
	}
	#D_1_box1{
		width: 1100px;
		height: 520px;
		margin: 0 auto;
		margin-top: 180px;
		border: 1px yellow solid;
		position: relative;		
}
    .layer{
    	width: 1100px;
		height: 520px;
		position: absolute;
		top: 0px;
		left: 0px;

    }
    #D_1_box1 #onelayer{
       background-color: rgb(220,108,95);
       z-index: 999;
    }
	#D_1_box1 #twolayer{
       background-color: rgb(149,220,143);
       z-index: 888;
    }
    #D_1_box1 #threelayer{
       background-color: rgb(100,185,211);
       z-index: 777;
    }
    #D_1_box1 #fourlayer{
       background-color: rgb(0,0,0);
       z-index: 666;
    }
    /*第一页的四个小圆点*/
    #D_1_box1 #circle{
    	width: 140px;
    	height: 15px;
    	position: absolute;
    	bottom: 40px;
    	left: 45%;
    	z-index: 1000;

    }
	#D_1_box1 .yd{
		float: left;
		width: 20px;
		height: 20px;
		margin-left:10px;
		border-radius: 50%;
		background: lightgrey;
		cursor: pointer;
	}
	
	#D_1_box1 li p{
		color: white;
		font-size: 80px;
		position: absolute;
		top: 40%;
		left: 40%;
	}
	/*第五页*/
	#D_5{
		background: url(img/bg5.jpg) no-repeat;

	}
	#D_5_box{
		width: 100%;
		height: 1000px;
	}
	#D_5_box1{
		width: 1100px;
		height: 1000px;
		margin: 0 auto;
		margin-top: 80px;		
		border: 1px yellow solid;
		position: relative;		
}
	/*上半部分w文字*/
	#D_5_box1 #text_left{
		width: 350px;
		height: 140px;
		border: 1px red solid;
		position: absolute;
		top: 100px;
		left: 50px;
		color: white;
		font-size: 60px;
		text-align: center;
		padding-top: 40px;
	}
	#D_5_box1 #text_right{
		width: 480px;
		height: 200px;
		border: 1px yellow solid;
		position:absolute;
		top: 70px;
		right:50px;
		color: white;
		font-size: 20px;
		text-align: center;
		padding-top: 20px;
		line-height: 25px;
	}
	#D_5_box1 #bottom{
		width: 944px;
		height: 448px;
		border: 1px yellow solid;
		background: url(img/team.png) no-repeat;
		position:absolute;
		bottom: 20%;
		left: 100px;
	}
